# Theos
.theos/
_/
obj/
packages/
*.deb

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Build artifacts
output/
*.o
*.dylib.dSYM/
